<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
      <ion-back-button defaulthref="/tabs/characters"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ characters?.name }}</ion-title>
     <ion-buttons slot="end">
    <ion-button (click)="unfavouriteCharacters()" *ngIf="isFavourite">
   <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
    </ion-button>
    <ion-button (click)="favouriteCharacters()" *ngIf="!isFavourite">
     <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-card *ngif="characters" class="movie-card">
    <ion-card-header>Characters {{ characters.characters_id }}: {{ characters.name }}</ion-card-header>
    <ion-card *ngIf="characters">
  <ion-card-content>
    {{ character.opening_crawl }}
  </ion-card-content>
  <ion-item class="characters-info" lines="none">
      <ion-icon name="Characters" slot="start"></ion-icon>
      Actress: {{ character.portrayed }}
    </ion-item>
    <ion-item class="characters-info" lines="none">
      <ion-icon name="calendar" slot="start"></ion-icon>
      Category: {{ characters.category }}
    </ion-item>
  </ion-card>
</ion-card>
</ion-content>