<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
      <ion-back-button defaulthref="/tabs/characters"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ characters?.name }}</ion-title>
     <ion-buttons slot="end">
    <ion-button (click)="unfavouriteCharacters()" *ngIf="isFavourite">
   <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
    </ion-button>
    <ion-button (click)="favouriteCharacters()" *ngIf="!isFavourite">
     <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-card *ngif="characters">
    <ion-card-header></ion-card-header>
    <ion-card *ngIf="characters">
  <ion-card-content>
    {{ characters.character }}
  </ion-card-content>
  </ion-card>
</ion-card>
</ion-content>