<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/quotes"></ion-back-button>
		</ion-buttons>
		<ion-title color="secondary"><strong>Quotes Details </strong></ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card *ngIf="quote">
		<ion-card-content>
			<strong >Author: {{ quote.author }} </strong>
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="quote">
		<ion-card-content>
			<strong>Series: {{ quote.series }} </strong>
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="quote">
		<ion-card-content>
			<strong>Quote: {{ quote.quote }} </strong>
		</ion-card-content>
	</ion-card>
	<img class="custom-class" src="https://i.ytimg.com/vi/H0W9OzWnprI/maxresdefault.jpg" width="500">
</ion-content>