<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Deaths</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-searchbar color="white" [(ngModel)]="terms"></ion-searchbar>
	<ion-item lines="none" padding="">
		<img src="https://wallpapercave.com/wp/mupAKQn.jpg" width="500"></ion-item>
        	<ion-button ion-button full (click)="goToEpisodes()" ion-button color="secondary" ><strong>Switch to Episodes</strong></ion-button>
    <ion-button ion-button full (click)="goToQuotes()"ion-button color="secondary" ><strong>Switch Back to Quotes</strong></ion-button>
		<ion-list>
			<ion-item button detail lines="inset" *ngFor="let death of deaths | async" (click)="openDetails(deaths)">
				{{ death.death }}
			</ion-item>
		</ion-list>
	
</ion-content>