<ion-header>
  <ion-toolbar  color="primary">
    <ion-title>Deaths</ion-title>
    <ion-toolbar color="dark">
    <ion-searchbar color="white" animated (ioninput)="getTopics($event)" ></ion-searchbar>
</ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-button expand="full" (click)="goToEpisodes()">Switch to Episodes</ion-button>
        <ion-button (click)="toggleInfiniteScroll()" expand="block">
    Toggle Infinite Scroll
  </ion-button>
   <ion-item *ngFor="let topic of topics">
      <ion-label>{{ topics }}</ion-label>
    </ion-item>
    <ion-list>
        <ion-item button detail lines="inset" *ngFor="let death of deaths | async" (click)="openDetails(deaths)">
        {{ death.death }}
        </ion-item>
       <ion-item *ngFor="let item of dataList">
      <ion-label>{{item}}</ion-label>
    </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
