<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
      <ion-back-button  color="yellow" defaulthref="/tabs/episodes"></ion-back-button>
    </ion-buttons>
    <ion-title> Episodes Details</ion-title>
     <ion-buttons slot="end">
    <ion-button color="yellow" (click)="unfavouriteEpisodes()" *ngIf="isFavourite">
   <ion-icon name="star" slot="icon-only" color="yellow"></ion-icon>
    </ion-button>
    <ion-button color="yellow" (click)="favouriteEpisodes()" *ngIf="!isFavourite">
     <ion-icon name="star-outline" slot="icon-only" color="yellow"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-card *ngif="episode">
    <h3><strong>Title: {{ episode.title }}</strong></h3>
 <ion-card *ngIf="episode">
		<ion-card-content>
			<h3><strong>Season: {{ episode.season }} </strong></h3>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="episode">
		<ion-card-content>
			<h3><strong>Episode number: {{ episode.episode }} </strong></h3>
		</ion-card-content>
	</ion-card>
    
	<ion-card *ngIf="episode">
		<ion-card-content>
			<h3><strong>Episode ID: {{ episode.episode_id }} </strong></h3>
		</ion-card-content>
	</ion-card>
    <ion-card *ngIf="episode">
		<ion-card-content>
			<h3><strong>Air Date: {{ episode.air_date }} </strong></h3>
		</ion-card-content>
	</ion-card>
</ion-content>