<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
      <ion-back-button defaulthref="/tabs/episodes"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ episode?.title }}</ion-title>
     <ion-buttons slot="end">
    <ion-button (click)="unfavouriteEpisodes()" *ngIf="isFavourite">
   <ion-icon name="star" slot="icon-only" color="yellow"></ion-icon>
    </ion-button>
    <ion-button (click)="favouriteEpisodes()" *ngIf="!isFavourite">
     <ion-icon name="star-outline" slot="icon-only" color="yellow"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-card *ngif="episodes" class="movie-card">
    <ion-card-header>Episodes {{ episode.episode_id }}: {{ episode.title }}</ion-card-header>
    <ion-card *ngIf="episodes">
  <ion-card-content>
    {{ episodes.opening_crawl }}
  </ion-card-content>
  <ion-item class="episode-info" lines="none">
      <ion-icon name="episode" slot="start"></ion-icon>
      Series: {{ episodes.series }}
    </ion-item>
    <ion-item class="episode-info" lines="none">
      <ion-icon name="calendar" slot="start"></ion-icon>
      Air_Date: {{ episode.air_date | date }}
    </ion-item>
  </ion-card>
</ion-card>
</ion-content>