<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Quotes</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-searchbar  disabled="false" color="white" (ionInput)="getItems($event)"></ion-searchbar>
<ion-list>
  <ion-item *ngFor="let item of items"> {{ item }}</ion-item>
</ion-list>
	<img src="https://skullsproject.files.wordpress.com/2014/02/breaking-bad-movie-wallpaper-background.png" width="500">
	<ion-list>
		<ion-button ion-button full (click)="goToDeaths()" ion-button color="secondary" ><strong>Switch to Deaths</strong></ion-button>
		<ion-button ion-button full (click)="goToCharacters()" ion-button color="secondary" ><strong> Go back to Characters</strong></ion-button>
		<ion-item ion-button full (click)="toggleInfiniteScroll()"></ion-item>
		<ion-item button detail lines="inset" *ngFor="let quote of quotes | async" (click)="openDetails(quote)">
			{{ quote.quote }}
		</ion-item>
	</ion-list>
</ion-content>