<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Episodes</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-searchbar color="white" [(ngModel)]="terms"></ion-searchbar>
<ion-item lines="none" padding="">
		<img src="http://cdn.breathecast.com/data/images/full/24300/breaking-bad-title-card.png" width="500">
		</ion-item>
        <ion-button ion-button full (click)="goToCharacters()" ion-button hover color="secondary" align-center><strong>Switch to Characters</strong></ion-button>
   <ion-button ion-button full (click)="goToDeath()" ion-button color="secondary" ><strong> Back to Death</strong></ion-button>
    <ion-item ion-button full (click)="toggleInfiniteScroll()" ></ion-item>
	<ion-list>
		<ion-item button detail lines="inset" *ngFor="let episode of episodes | async" (click)="openDetails(episode)">
			{{ episode.title }}
		</ion-item>
	</ion-list>
     <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
