<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/episodes"></ion-back-button>
		</ion-buttons>
		<ion-title color="secondary"><strong>Episodes Details </strong> </ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="unfavouriteEpisode()" *ngIf="isFavourite">
				<ion-icon name="star-outline" slot="icon-only"></ion-icon>
			</ion-button>
			<ion-button (click)="favouriteEpisode()" *ngIf="!isFavourite">
				<ion-icon name="star-outline" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-card *ngIf="episode">
		<ion-card-content>
			<strong>Title of episode: {{ episode.title }}     <p> Date of release: {{episode.air_date}} </p></strong>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="episode">
		<ion-card-content>
			<strong>Number of the Season: {{ episode.season }} </strong>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="episode">
		<ion-card-content>

			<strong> Episode of the Season: {{ episode.episode }} </strong>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="episode">
		<ion-card-content>
			<strong> Characters whithin this Episode: {{ episode.characters }} </strong>
		</ion-card-content>
	</ion-card>


</ion-content>